.nameSection {
  display: grid;
  grid-template-rows: 50% 50%;
  padding-left: 9cm;
  padding-right: 9cm;
}

.commentSection {
  display: grid;
  grid-template-rows: 50% 50%;
  padding-left: 9cm;
  padding-right: 9cm;
}

.nameLabel {
  text-align: left;
}

.commentsLabel {
  text-align: left;
}

.submitButton {
  background-color: rgb(57, 124, 255);
  color: white;
  border: blue;
  font-size: 20px;
  border-radius: 4px;
}

.submitButton:hover {
  background-color: blue;
  color: white;
}

.commentList {
  text-align: left;
  padding-left: 7cm;
  padding-right: 7cm;
}
